<html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">
<link href="./custom css/homescreen.css" rel="stylesheet">


<body>
	<header style="padding-top: 50px;">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Youtoob2</a>

	<div class="search">
		<form class="form-inline center" method="post" action="/search">
			<input class="search-input" type="text" name="search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	
	<% if(user == null){ 
		information = 'Sign in'
		} 
		 else{ 
			information = user.name
			 } %>
	
	<ul class="navbar-nav signin">
		<li class="nav-item dontshrink">
			<a class="nav-link dontshrink" href='/users/signIn'> <%- information %> </a>
		</li>
	</ul>
	
	
  </nav>

  <header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
		<div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1588435107008-a655abae0bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1913&q=80')">
		  <div class="carousel-caption d-none d-md-block">
			<h3 class="display-4">Capture Life's Greatest Moments</h3>
			<p class="lead">Keep all your important videos in one easy place!</p>
		  </div>
		</div>
		<!-- Slide Two - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1473425021274-58232d06e88b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
		  <div class="carousel-caption d-none d-md-block">
			<h3 class="display-4">Join an up-and-coming community of creators</h3>
			<p class="lead">You'll be in good company.</p>
		  </div>
		</div>
		<!-- Slide Three - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1586521995568-39abaa0c2311?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
		  <div class="carousel-caption d-none d-md-block">
			<h3 class="display-4">Share your work with the world for free</h3>
			<p class="lead">No ads, no monetization, just creativity.</p>
		  </div>
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
	</div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
	<div class="container">
	  <h1 class="font-weight-light">YouToob: Your Video-Sharing Destination</h1>
	  <p class="lead">We have no affiliation with Google or any similarly-named enterprises.</p>
	</div>
  </section>

</header>

	<div class="temp"><h3>Our Curated Selections!<h3></div>
		<div class="container">
	 		<div class="row" style="padding-right: 30px;">
	    		<div class="col-sm-4" style="padding-right: 30px;">
					<div style="padding-left: 50px">
                    
                        <a href="/video/5eb137916d260e07b8e543f4"> Clouds Again<a>
                        
						</div>
		      		<div>
						<a href="/video/5eb137916d260e07b8e543f4">
							<div>
											 
								<video
								id="my-video"
								class="video-js"
								preload="auto"
								width="140%"
								height="140px"
								poster=""
								data-setup="{}"
							>
								<source src="https://418videos.s3.amazonaws.com/cloudsAGAIN.mp4" type="video/mp4" />
							</video>
							</div>
							</a>
		  			</div>
	  				
					<div>
	      				<p> </p>
	  				</div>
				</div>
				<div>

				</div>
				<div class="col-sm-4" style="padding-right: 30px">
					<div style="padding-left: 50px">
                    
                        <a href="/video/5eb11fbf2506ad68609053c4"> Fall Leaves<a>
                        
						</div>
		      		<div>
						<a href="/video/5eb11fbf2506ad68609053c4">
							<div>
											 
								<video
								id="my-video"
								class="video-js"
								preload="auto"
								width="140%"
								height="140px"
								poster=""
								data-setup="{}"
							>
								<source src="https://418videos.s3.us-east-2.amazonaws.com/fallleaves.mp4" type="video/mp4" />
							</video>
							</div>
							</a>
		  			</div>
	  				
					<div>
	      				<p> </p>
	  				</div>
				</div>
				
				<div class="col-sm-4" style="padding-right: 30px">
					<div style="padding-left: 50px">
                    
                        <a href="/video/5eb10356d8bcc809d8af5697"> For Bigger Escapes<a>
                        
						</div>
		      		<div>
						<a href="/video/5eb10356d8bcc809d8af5697">
							<div>
											 
								<video
								id="my-video"
								class="video-js"
								preload="auto"
								width="140%"
								height="140px"
								poster=""
								data-setup="{}"
							>
								<source src="https://418videos.s3.us-east-2.amazonaws.com/ForBiggerEscapes.mp4" type="video/mp4" />
							</video>
							</div>
							</a>
		  			</div>
	  				
					<div>
	      				<p> </p>
	  				</div>
	    		</div>
	   			
	    </div>
	  </div>
	</div>
</body>
	
</html>
