

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">



<body>
	<script>
		function updateDesc(){
			prompt("Enter desired description: ");
		}
	</script>
	<header style="padding-top: 50px;">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">Youtoob2</a>
		
			<div class="search">
				<form class="form-inline center" method="post" action="/search">
					<input class="search-input" type="text" name="search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			
			<% if(locals.user == null){ 
				information = 'Sign in'
				} 
				 else{ 
					information = locals.user.name
					 } %>
			
			<ul class="navbar-nav signin">
				<li class="nav-item dontshrink">
					<a class="nav-link dontshrink" href='/users/signIn'> <%- information %> </a>
				</li>
			</ul>
			
		  </nav>

</header>

	<div class="temp"><h3><center>Profile of <%= user.name %></center><h3></div>
		
		<div class="container">
	 		<div class="row">
	    		<div class="col-sm-4">
						<div class="text-center bg-info p-3">
							<img src="../aviplaceholder.jpg" alt="Girl in a jacket" height="200px" width="200px">
						</div>
							
						<div class="container bg-info text-white py-4" "width=200">
								<p><%= user.description%></p>
								<form action="/editprofile" method="POST">
									<input type="text" placeholder="Edit your description" name="description" id="description">
									<button type="submit">Edit</button>
								</form>
						</div>
						<a href="/users/logout" style="padding: 10px;"class="btn btn-secondary">Logout</a>
						<a href="/upload" style="padding: 10px;" class="btn btn-secondary">Upload</a>
				</div>
				
					<div class="col-sm bg-dark">
						<div class="text-info">
						</div>
						<div class="container testimonial-group">
							
						</div>
					</div>
							
			</div>
		</div>
</body>
	
