<html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">


<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">Youtoob2</a>
		
			<div class="search">
				<form class="form-inline center">
					<input class="search-input" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='search';" type="button">Search</button>
				</form>
			</div>
			
		


			<% if(user == null){ 
				information = 'Sign in'
				} 
				 else{ 
					information = user.name
					 } %>
			
			<ul class="navbar-nav signin">
				<li class="nav-item dontshrink">
					<a class="nav-link dontshrink" href='/users/signIn'> <%- information %> </a>
				</li>
			</ul>
			
			
		  </nav>

</header>
	<div class="temp"><h3><center>result for <%- search %></center></h3></div>
		<div class="container">	
			<% results.forEach(function(user) { %>
			
			<script> 
			var newDiv = document.createElement("a"); 
			var names = `<%= user.name %>`;
			var newContent = document.createTextNode("hi" + names);
			newDiv.appendChild(newContent);
			var test = "/profile/" + names;
			newDiv.href = test
			var currentDiv = document.getElementById("div1"); 
  			document.body.inser(newDiv, currentDiv); 
			</script>
			<% console.log(user.name) %>
		<% }) %>
	 		<div class="row">
	    		<div class="col-sm-8">
		      		<div id="div1">
		      			
		  			</div>
	    		</div>
	   			<div class="col-sm-8">
	    			<div>
	     				<h3>Title</h3><h4><a href=profile.html>Author</a></h4><h5>blah blah blah blah blah blah blah blah blah </h5>
	  				</div>
	    		</div>
	  		</div>
	  		<div class="row">
	    		<div class="col-sm-4">
		      		<div>
		      			<img src="download	.jpg" alt="Girl in a jacket" height="200px" width="100%">
		  			</div>
	    		</div>
	   			<div class="col-sm-8">
	    			<div>
	     				<h3>Title</h3><h4>Author</h4><h5>blah blah blah blah blah blah blah blah blah </h5>
	  				</div>
	    		</div>
	  		</div>
	  		<div class="row">
	    		<div class="col-sm-4">
		      		<div>
		      			<img src="download	.jpg" alt="Girl in a jacket" height="200px" width="100%">
		  			</div>
	    		</div>
	   			<div class="col-sm-8">
	    			<div>
	     				<h3>Title</h3><h4>Author</h4><h5>blah blah blah blah blah blah blah blah blah </h5>
	  				</div>
	    		</div>
	  		</div>




	</div>
</body>
	
</html>