



  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/#">Youtoob2</a>
  </nav>
  </head>
  <body>
  <h2 class="signInText" >Sign In</h2>
 
<link href="./custom css/signIn_register.css" rel="stylesheet">
  
 <%- include('partials/messages') %>

  <form class="login-form" action="/users/login" method="POST">
  <fieldset style="border: 1px solid #000000">
  <div class="container">
    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Username" name="name" id="name" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" id="password"required>
        
    <button type="submit">Login</button>
    <button type="button" onclick="window.location.href='/users/register';" style="background-color: #3366ff" >Create Account</button>
  </div>
  </fieldset>
  </form>
  </body>


