<html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">

<body>
    <h1 class="mt-4">Upload Here!</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="videoFile"><br>
        <input type="submit" value="Submit">
    </form>
</body>
	
</html>